[mysqld]
# other variables here
performance_schema=OFF
slow_query_log=OFF
# slow_query_log_file=/var/log/mysql/mysql_slow_query.log
# log_error = /var/log/mysql/mysql_error.log
log_error_verbosity = 1
key_buffer_size = 512M
tmp_table_size = 64M
max_heap_table_size = 128M

innodb_buffer_pool_size = 2G # (adjust value here, 50%-70% of total RAM)
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 0 # may change to 1 for more reliability
innodb_flush_method = fsync
innodb_buffer_pool_instances = 8
