[mysqld]
# other variables here
performance_schema=OFF
slow_query_log=ON
slow_query_log_file=/var/log/mysql/mysql_slow_query.log
log_error = /var/log/mysql/mysql_error.log
log_warnings = 1
key_buffer = 512M
tmp_table_size = 64M
max_heap_table_size = 128M
query_cache_size = 512M
innodb_buffer_pool_size = 1G # (adjust value here, 50%-70% of total RAM)
innodb_additional_mem_pool_size=200M
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1 # may change to 2 or 0
innodb_flush_method = fsync
innodb_buffer_pool_instances = 8
